

<div class="homepage-container">
<h2 class="homepage-header">Green Genie
   
</h2>


</div>


<button class="btn btn-outline-secondary" type="button" id="search">Search For Dispensaries</button>


<div id="map"></div>





<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVwA7BvelVfoF73H59Nidw7XAIoCAob5Q&libraries=places&callback=initMap">
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<script src='\js\map.js'> </script>

