

<div class="homepage-container">
<h2 class="homepage-header">Green Genie
   
</h2>



    <div class="card horizontal card-container">
      <div class="day-container">
        <p>Day</p>
        <p>59</p>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        
      </div>
    </div>


   <img src="/images/home-test.svg" style="width: 200px; height: auto;">

</div>

<button class="btn btn-outline-secondary" type="button" id="search">Search For Dispensaries</button>


<div id="map"></div>





<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVwA7BvelVfoF73H59Nidw7XAIoCAob5Q&libraries=places&callback=initMap">
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<script src='\js\map.js'> </script>