

<div class="homepage-container">
<h2 class="homepage-header">Skywalker Og Kush
    <span>(Hybrid)</span>
</h2>
<h3>Eden</h3>


    <div class="card horizontal card-container">
      <div class="day-container">
        <p>Day</p>
        <p>59</p>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        
      </div>
    </div>


   <img src="/images/home-test.svg" style="width: 200px; height: auto;">

</div>