<div class="w-full max-w-xs">
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
        Strain
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="strain" type="text" placeholder="Strain">
    </div>
    <label class="block">
        <span class="text-gray-700">Description</span>
    <textarea class="form-textarea mt-1 block w-full" rows="3" placeholder="Enter a description of the strain and how to grow it." id = "description"></textarea>
    </label>
    <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" id = "submitBtn">
        Submit
    </button>
  </form>
</div>

<script scr = "/public/dashboard"></script>