body {
    background-color: rgb(244, 247, 248);
}

.card-container {
    width: 60%;
    padding: 10px;
    height: 70px;
}
.day-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(244, 247, 248);
    width: 60px;
}   

.day-container > p {
    margin: 0;
}

.card-content { 
    padding: 10px  !important;
}